{% extends "base.html" %}

{% block menu_script %}
$(function(){
    $("ul#menu li a:eq(1)").parent().addClass("active")
})
{% endblock %}

{% block main %}
<div class="row-fluid">
    <div class="col-md-2 col-lg-2" style="margin-left:-20px">
        <ul class="nav nav-pills nav-stacked">
          {% for d in data.public.group %}
          <li role="presentation" {% if d.id == data.public.group_id %}class="active"{% endif %}><a href="/data_mgr/pre_launch?group_id={{d.id}}">{{d.name}}</a></li>
          {% endfor %}
          <li role="presentation" {% if 0 == data.public.group_id %}class="active"{% endif %}><a href="/data_mgr/pre_launch?group_id=0">未分组</a></li>
        </ul>
    </div>

    <div class="col-md-10 col-lg-10">
    {% block specify %}
    hello
    {% endblock %}
    </div>
</div>
{% endblock %}
