{% extends "assess/assess_base.html" %}


{% block script %}
<script>
    function reset_data(module_id, scene_id){
      var id = arguments[2] ? arguments[2] : "";
      $("#id").val(id)
      $("#name").val("");
      $("#desc").val("");
      $("#module_id").val(module_id);
      $("#scene_id").val(scene_id);
    }

    function rm_api(id){
        if(confirm("确定要删除该项吗？该操作将无法恢复！"))
        {
          post("/assess_mgr/rm/api", {"id": id})
        }
    }
</script>
{% endblock %}

{% block specify %}
<ul class="nav nav-tabs">
  <li><a href="/assess_mgr/module?module_id={{request.GET.module_id}}">业务列表</a></li>
  <li class="active"><a href="/assess_mgr/module_api?module_id={{request.GET.module_id}}">接口列表</a></li>
</ul>
<br/>
<div class="panel panel-info">
<div class="panel-heading">接口列表
    {% if data.public.auth.write%}
    <a href="/assess_mgr/api?module_id={{request.GET.module_id}}" class="btn btn-xs btn-info right">添加接口</a>
    {% endif %}
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>名称</th>
      <th>创建者</th>
      <th>描述</th>
      {% if data.public.auth.write%}
      <th style="width:160px">操作</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {%for api in data.api%}
    <tr>
      <td>{{api.name}}</td>
      <td>{{api.creator}}</td>
      <td>{{api.desc}}</td>
      <td>
        <a class="btn btn-info btn-xs" href="/assess_mgr/single_api?api_id={{api.id}}">查看数据</a>
        {% if data.public.auth.write%}
        <a class="btn btn-primary btn-xs" href="/assess_mgr/api?module_id={{request.GET.module_id}}&id={{api.id}}">编辑</a>
        <a class="btn btn-danger btn-xs" onclick="rm_api({{api.id}})">
          删除
        </a>
        {% endif %}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{% endblock %}
